<h1>Test del horóscopo</h1>
<div class="horoscope-cards-container">
  <% @signs_data.each do |sign_data| %>
    <div class="horoscope-card">
      <div class="card-field">
        <h3>Amor</h3>
        <p><%= sign_data[:love] %></p>
      </div>
      <div class="card-field">
        <h3>Salud</h3>
        <p><%= sign_data[:health] %></p>
      </div>
      <div class="card-field">
        <h3>Dinero</h3>
        <p><%= sign_data[:money] %></p>
      </div>
    </div>
  <% end %>
</div>
<div class="horoscope-selector">
  <%= form_with(url: evaluate_test_results_path, method: "post") do %>
    <div class="field">
      <%= label_tag(:sign_id, "¿Cuál es tu signo zodiacal?") %>
      <%= select_tag(:sign_id, options_for_select([["Aries", 0],["Tauro", 1],["Géminis", 2],["Cáncer", 4],["Leo", 5],["Virgo", 6],["Libra", 7],["Escorpión", 8],["Capricornio", 9],["Acuario", 10],["Piscis", 11]])) %>
    </div>
    <div class="field">
      <%= label_tag(:card_id, "Elige cuál crees que es tu tarjeta") %>
      <%= select_tag(:card_id, options_for_select([1,2,3,4,5,6,7,8,9,10,11,12])) %>
    </end>
    <%= submit_tag("Veamos!") %>
  <% end %>
</div>
